<div id='clock-container' style="font-weight: bold; font-size: 24px;"></div>

<script>

    function calcDate(date1,date2) {
        var diff = Math.floor(date1.getTime() - date2.getTime());
        var day = 1000 * 60 * 60 * 24;

        var days = Math.floor(diff/day);
        var months = Math.floor(days/31);
        var years = Math.floor(months/12);

        // var message = date2.toDateString();
        var message = "Osman has been detained for " 
        message += days + " days now."
        // message += years + " years ago \n"

        return message
    }

    today = new Date()
    past = new Date(2022,00,15) // January 15 2022
    clock = calcDate(today,past)
    document.getElementById('clock-container').innerHTML = clock;

</script>


 <style>
    clock-container {
        font-weight: bold;
        font-size: 24px;
    }
 </style>